:root {
    --darker: rgb(20, 20, 20);
    --grey: rgb(122, 122, 122);
    --white: rgb(233, 233, 233);
    --blue: rgb(77, 205, 255);
    --violet: rgb(97, 13, 175);
    --darkerviolet: rgb(42, 13, 110);
    --yellow: rgb(255, 200, 33);
    --green: rgb(119, 216, 29);

}

body {
    background-color: var(--blue);
}

#navbar {
    background: url('../img/navbar/stars_background.png'), linear-gradient(to bottom, var(--violet), var(--blue));
}

.cloudsBanner {
        background: url('../img/navbar/clouds.png');
}

#mainCointainer {
    background-color: white;
    color: black;
}

footer {
        color: var(--darker);
    background: url('../img/navbar/hills.png'), linear-gradient(to bottom, var(--blue), var(--yellow));
}