:root {
    --darker: rgb(20, 20, 20);
    --grey: rgb(122, 122, 122);
    --white: rgb(233, 233, 233);
    --blue: rgb(77, 205, 255);
    --violet: rgb(97, 13, 175);
    --yellow: rgb(255, 200, 33);

}

body {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#navbar {
    background: url('../img/navbar/stars_background.png'), linear-gradient(to bottom, var(--violet), var(--blue));
    height: 300px;
    width: 100%;
}

#mainCointainer {
    text-align: center;
    background-color: white;
    width: 800px;
    min-height: 400px;
    margin-top: 3em;
    padding: 2em;
}

.profilepicture {
    width: 64px;
    height: 64px;
    background-color: white;
    border: 5px solid black;
}

.profilepictureuserpage {
    width: 240px;
    height: 240px;
    background-color: white;
    border: 5px solid black;
}

.profilepictureNavbar {
    width: 64px;
    height: 64px;
    background-color: white;
    border: 5px solid black;
    margin-right: 0.2em;
}

.forummessageContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cozytownLogoNavbar {
    height: 150px;
    display: flex;
    margin-left: 20%;
    margin-top: 3em;
    margin-bottom: 2em;

}

.iconsNavbar {
    width: 32px;
    height: 32px;
    margin-left: 1em;
    margin-right: 0.2em;
}

.cloudsBanner {
    background: url('../img/navbar/clouds.png');
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


.darkAlleyTrigger {
    cursor: default;
}

.dateMessage {
    color: var(--grey);
    font-size: 12px;
}


#dressupContainer {
    height: 320px;
    width: 320px;
    background-color: white;
    border: 0px;
    position: relative;
    display: inline-block;
    margin: 0px;
    padding: 0px;
}

#dressupContainer img {
    position: absolute;
    left: 0%;
    border: 0px;
    outline: 0;
    border: none;
    height: 320px;
    width: 320px;
}

.skincolorButton {
    border: 5px solid black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.white {
    background-color: white;
}

.fair {
    background-color: rgb(243, 185, 157);
}

.tan {
    background-color: rgb(187, 103, 61);
}

.dark {
    background-color: rgb(73, 34, 8);
}

.green {
    background-color: rgb(85, 138, 24);
}

.blue {
    background-color: rgb(19, 90, 196);
}


.clothesButtonPreview {
    width: 64px;
    height: 64px;
    border: 5px solid black;
}

.hairButtonPreview {
    width: 64px;
    height: 64px;
    position: relative;
    display: inline-block;
    border: 5px solid black;
    margin: 0px;
    padding: 0px;
}

.hairButtonPreview img {
    width: 64px;
    left: 0;
    position: absolute;
}

@media (max-width: 600px) {
    .cozytownLogoNavbar {
        height: 80px;
        margin-left: 15%;
    }

    .iconsNavbar {
        width: 16px;
        height: 16px;
        margin-left: 1em;
        margin-right: 0.2em;
    }

    .profilepictureNavbar {
        width: 32px;
        height: 32px;
    }

    #navbar {
        height: 200px;
    }

    .welcomeNavbar {
        display: none;
    }

}

@media (max-width: 800px) {
    #mainCointainer {
        width: 100%;
    }
}