:root {
    --darker: rgb(20, 20, 20);
    --grey: rgb(122, 122, 122);
    --white: rgb(233, 233, 233);
    --blue: rgb(77, 205, 255);
    --violet: rgb(97, 13, 175);
    --yellow: rgb(255, 200, 33);

}

body {
    height: 100%;
    width: 100%;
    background-color: var(--blue);
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

#navbar {
    background: url('../img/navbar/stars_background.png'), linear-gradient(to bottom, var(--violet), var(--blue));
    height: 300px;
    width: 100%;
}

#mainCointainer {
    text-align: center;
    background-color: aliceblue;
    width: 800px;
    padding: 2em;
}

.profilepicture {
    width: 64px;
    height: 64px;
    background-color: black;
}

.profilepictureuserpage {
    width: 240px;
    height: 240px;
    background-color: black;
}

.profilepictureNavbar {
    width: 64px;
    height: 64px;
    background-color: black;
    margin-right: 0.2em;
}

.forummessageContainer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

}

.cozytownLogoNavbar {
    width: 400px;
    display: flex;
    margin-left: 25%;
    margin-top: 1em;
    margin-bottom: 1em;

}

.iconsNavbar {
    width: 32px;
    height: 32px;
    margin-left: 1em;
    margin-right: 0.2em;
}

.cloudsBanner {
    background: url('../img/navbar/clouds.png');
    height: 100px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;
}


.darkAlleyTrigger {
    cursor: default;
}

.dateMessage {
    color: var(--grey);
    font-size: 12px;
}


#dressupContainer {
    height: 320px;
    width: 320px;
    background-color: aqua;
    position: relative;
    margin: 0;
    padding: 0;
}

#dressupContainer img {
    position: absolute;
    left: 0;
    height: 320px;
    width: 320px;
}

.skincolorButton {
    border: 5px solid black;
    height: 32px;
    width: 32px;
    border-radius: 50%;
}

.white {
    background-color: white;
}

.fair {
    background-color: rgb(243, 185, 157);
}

.dark {
    background-color: rgb(73, 34, 8);
}

.green {
    background-color: rgb(43, 73, 8);
}

.blue {
    background-color: rgb(18, 71, 151);
}


@media (max-width: 600px) {
.cozytownLogoNavbar {
    width: 200px;
    margin-left: 15%;
}
.iconsNavbar {
    width: 16px;
    height: 16px;
    margin-left: 1em;
    margin-right: 0.2em;
}

.profilepictureNavbar {
    width: 32px;
    height: 32px;
}

}